<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${(mode.equals('details') ? 'View' : 'Add') + ' a Contact'}"></title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>
<header th:insert="~{home :: nav}"></header>
<main class="container">
    <h1 th:text="${(mode.equals('details') ? 'View' : 'Add') + ' a Contact'}"></h1>
    <hr>
    <form action="#" th:action="@{/contact/add}" method="post" th:object="${contact}">
        <input type="text" class="d-none" th:field="*{id}" readonly>
        <div class="mb-3">
            <label for="first name" class="form-label">first name:</label>
            <input type="text" id="first name" class="form-control" th:field="*{firstName}" th:readonly="${mode.equals('details')}" th:required="${mode.equals('add')}">
        </div>
        <div class="mb-3">
            <label for="last name" class="form-label">Last name:</label>
            <input type="text" id="last name" class="form-control" th:field="*{lastName}" th:readonly="${mode.equals('details')}" th:required="${mode.equals('add')}">
        </div>
        <div class="mb-3">
            <label for="phone number" class="form-label">Phone number:</label>
            <input type="text"  id="phone number" class="form-control" th:field="*{phoneNumber}" th:readonly="${mode.equals('details')}" th:required="${mode.equals('add')}">
        </div>
        <div class="text-end">
            <a th:if="${mode.equals('details')}" class="btn btn-secondary" th:href="@{/contacts}"><i class="bi bi-arrow-counterclockwise"></i> Return</a>
            <button th:unless="${mode.equals('details')}" class="btn btn-success"><i class="bi bi-plus-circle"></i> Add a Contact</button>
        </div>
    </form>
</main>
</body>
</html>