<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${(mode eq 'details') ? 'View' : 'Add'} + ' a Contact'"></title>
    <span th:replace="~{home :: bootstrapImports}"></span>
</head>
<body>

<main class="container">
    <div class="row my-3">
        <div class="col-8 offset-2 rounded text-bg-dark p-3">
            <h1 th:text="${(mode eq 'details') ? 'View' : 'Add'} + ' a Contact'"></h1>
            <form th:object="${findContact}">
                <input type="text" name="id" th:field="*{id}" class="d-none" readonly>
                <div class="mb-3">
                    <label for="first name" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="first name" th:field="*{firstName}" th:readonly="${mode eq 'details'}">
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" th:readonly="${mode eq 'details'}">
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number:</label>
                    <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" th:readonly="${mode eq 'details'}">
                </div>
                <a class="btn btn-outline-info" th:href="@{/contact}"><i class="bi bi-arrow-counterclockwise"></i> Return to List</a>
            </form>
        </div>
    </div>
</main>
</body>
</html>
